div {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #096f00;
  color: #ffffff;
}

th,
td {
  padding: 10px;
  text-align: left;
}

.queue table,
.queue th,
.queue td {
  border: 2px solid #000000;
}

.status table {
  border: none;
}

.status td {
  padding: 8px;
}

.dropdownbutton {
  background: none;
  border-radius: 2px;
  border: 2px solid #096f00;
  border: 0;
  color: #096f00;
  cursor: pointer;
  display: block;
  outline: none;
  text-align: center;
  transition: 0.25s;
}

.dropdown {
  background-color: inherit;
  border: none;
  color: #ffffff;
  float: left;
  font-family: inherit;
  margin: 0;
  min-height: 0vh;
  outline: none;
  overflow: hidden;
}

.content {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  min-height: 0vh;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.content a {
  color: #ffffff;
  display: block;
  float: none;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
}

.content a:hover {
  background-color: #096f00;
}

.dropdown:hover .content {
  display: block;
}

.button {
  background: none;
  border-radius: 24px;
  border: 2px solid #096f00;
  border: 0;
  color: #096f00;
  cursor: pointer;
  display: block;
  display: inline-block;
  margin: 20px auto;
  outline: none;
  padding: 14px 40px;
  text-align: center;
  transition: 0.25s;
}

.button:hover {
  background: #096f00;
  color: #ffffff;
}

a {
  color: inherit;
}
